.animaDown {
  transform: translateY(-2rem);
}

.animaDown.animated {
  transform: translateY(0);
}

.animaTop {
  transform: translateY(2rem);
}

.animaTop.animated {
  transform: translateY(0);
}

.animaRight {
  opacity: 0;
  transform: translateX(-4rem) skew(25deg);
}

.animaRight.animated {
  transform: translateX(0);
  opacity: 1;

}

.animaLeft {
  transform: translateX(4rem) skew(-25deg);
  opacity: 0;
}

.animaLeft.animated {
  transform: translateX(0);
  opacity: 1;

}

.animaScale {
  transform: scale(0.8) rotateX(50deg);
  opacity: 0;
}

.animaScale.animated {
  transform: scale(1);
  opacity: 1;
}

.animaBothSide {
  transition: all 20s;
  width: 0 !important;
  overflow: hidden;
}

.animaBothSide.animated {
  width: 100% !important;
}

.animaText span {
  animation: animaText 1s forwards;
  display: inline-block;
}

.anima {
  transition: 1s;
}

@keyframes animaText {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}