.caracteristicas {
  ul {
    display: flex;
    justify-content: space-between;
    min-height: 100px;

    li {
      text-align: center;
      width: 170px;

      &:nth-of-type(2) {
        align-self: flex-end;
      }

      span {
        color: $rosa-claro;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 0.5rem auto;

        i {
          font-size: 1.4rem;

        }
      }
    }
  }
}