body {
  background: linear-gradient(100deg, $azul-bg-1 2.34%, $azul-bg-2 95.79%);
  color: $azul-texto-claro;
  font-family: "Montserrat", sans-serif;
  height: 3000px;
  padding: 10px;
}

.container-page {
  width: 100%;
  padding-left: 85px;
}

.tooltip {
  position: relative;
  &_msg {
    margin: 0;
  }
}

.btn-rosa {
  border-radius: 7px;
  padding: 12px 17px;
  @include btn(rosa);
  transition: $transition;
  &:hover {
    filter: contrast(110%);
  }
  &:active {
    filter: brightness(95%);
  }
}
