body {
  background: linear-gradient(100deg, $azul-bg-1 2.34%, $azul-bg-2 95.79%);
  color: $azul-texto-claro;
  font-family: "Prompt", sans-serif;
  line-height: 1.3;
  padding: 10px;
}

h2,
h3 {
  font-weight: 300;
}

.container-page {
  width: 100%;
  padding-left: 110px;
}

.tooltip {
  position: relative;
  &_msg {
    background: $azul-bg-2;
    color: $rosa-claro;
    padding: 10px 15px;
    @include fit-content;
    border-radius: $radius;
    position: absolute;
    top: calc(100% + 5px);
    display: none;
    z-index: 9;
  }
  &_ativador:hover ~ .tooltip_msg {
    display: block;
  }
}

.btn-rosa {
  @include btn(rosa);
}

.container-sections {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
