.header {
  position: fixed;
  height: 100vh;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 90px;
  background: rgba(29, 11, 80, 0.5);
  transition: $transition;
  overflow: hidden;
  z-index: 99;
  ul {
    width: 90px;
    text-align: center;
  }
  li {
    width: 100%;
    text-align: center;
  }

  &:hover {
    width: 180px;
  }
}

.header a {
  display: block;
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  i,
  p {
    transition: $transition;
    color: $azul-texto-escuro;
  }
  &:hover,
  &.selecionado {
    text-shadow: 0px 0px 30px rgba(252, 171, 220, 0.35);
    i,
    p {
      color: $rosa-claro;
    }
  }
}