.projetos_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btns-nav button {
    @include transition;
    &:hover {
      color: $azul-texto-claro;
    }
  }
  .posterior {
    margin-left: 10px;
    &::before {
      content: "";
      position: relative;
      top: -3px;
      margin-right: 13px;
      display: inline-block;
      width: 2px;
      height: 2px;
      background-color: $rosa-claro;
    }
  }
  .pag {
    button {
      width: 25px;
      height: 25px;
      border-radius: $radius;
      background: $azul-transparente;
      border: 1px solid $azul-borda;
      line-height: 0.5;
      @include detalhes;
      @include transition;
      & + button {
        margin-left: 3px;
      }
      &.selecionado {
        color: $azul-texto-claro;
        outline: 1px solid $rosa-claro;
        outline-offset: 2px;
      }
      &:hover {
        color: $azul-texto-claro;
      }
    }
  }
}

.projeto {
  margin-bottom: 80px;
  &_header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
    span + span {
      margin-left: 15px;
    }
    h3 {
      margin-left: auto;
      font-size: 2.25rem;
      font-weight: 300;
    }
    &::before {
     @include gradient-border(90deg, 100%, 1px);
      bottom: -20px;
      left: 0;
    }
  }
  &_infos {
    padding: 40px 0;
    display: flex;
    .infos {
      flex: 1;
    }
    picture {
      display: block;
      flex: 2;
      margin-left: 30px;
      height: 220px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .infos_mais {
      color: $rosa-claro;
      font-weight: 400;
      margin-top: 30px;
      position: relative;
      i {
        font-size: 13px;
        margin-left: 5px;
      }
    }
    .mais_infos_container {
      position: relative;
      ul {
        position: absolute;
        z-index: 99;
        background: $azul-transparente;
        border:1px solid $azul-borda;
        backdrop-filter: blur(15px);
        padding: 1rem;
        left: -1rem;
        @include borderRadius;
        li {
          padding: 0.5rem
        }
        .titulo {
          color: $azul-texto-claro
        }
      }
    }
  }
}

.linguagens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: $azul-texto-claro;
    font-weight: 400;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    background: $azul-transparente;
    border: 1px solid $azul-borda;
    padding: 5px 10px;
    border-radius: $radius;
    & + li {
      margin-left: 15px;
    }
  }
}

.link-github {
  text-align: center;
  .ver-todos-projetos {
    margin-bottom: 10px;
  }
}
