@media all and (max-width: 1000px) {
  .container-page {
    padding: 0 20px;
  }

  .header {
    width: calc(100vw - 30px);
    height: 80px;
    justify-content: center;
    position: absolute;
    @include bg-gradient(90deg);
    font-size: 0.875rem;
    ul {
      display: flex;
      width: 100%;
    }
    a {
      padding: 10px 15px;
      grid-template-columns: auto;
      gap: 5px;
    }
    &:hover {
      width: calc(100vw - 30px);
    }
  }
  .header::before {
    @include gradient-border(90deg, 100%, 1px);
    top: 0;
    left: 0;
  }

  .header::after {
    @include gradient-border(90deg, 100%, 1px);
    top: initial;
    bottom: 0;
    right: 0;
  }

  .email {
    display: none;
  }

  .home {
    padding-top: 120px;
    text-align: center;
    align-items: center;
    h1 {
      font-size: 36px;
    }
    .texto {
      margin: 10px 0 80px 0;
    }
  }
  .redes-sociais ul {
    justify-content: center;
  }
  .caracteristicas ul {
    flex-direction: column;
    align-items: center;
    li + li {
      margin-top: 60px;
    }
  }
}

@media all and (max-width: 700px) {
  .container-sobre {
    flex-direction: column;
    .titulo_e_btns {
      width: 100%;
    }
    .btns-sobre {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      button + button {
        margin-top: 0;
      }
      button:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1 / -1;
      }
    }
    .container-sobre-mim {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .container-sections {
    max-width: 340px;
  }

  .titulo_e_btns h3 {
    text-align: center;
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }

  .container-sobre-mim {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    p {
      max-width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
    picture {
      width: 180px;
      height: 230px;
    }
  }

  .projeto {
    h3 {
      font-size: 1.5rem;
    }
    &_infos {
      flex-direction: column;
      .infos {
        order: 2;
        margin-top: 30px;
      }
    }
    picture {
      width: 100%;
      margin-left: 0;
    }
    .linguagens {
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-bottom: 15px;
      }
      ul {
        width: 100%;
      }
      ul li {
        flex: 1;
        text-align: center;
      }
    }
  }

  .projetos_btns {
    flex-direction: column;
    .btns-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      order: 2;
      margin-top: 30px;
      button {
        flex: 1;
      }
    }
    .anterior {
      text-align: left;
    }
    .posterior {
      text-align: right;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: -5px;
      }
    }
  }

  .precos-container {
    grid-template-columns: auto;
  }
  .valor .precos {
    text-align: center;
  }
  .valor .a-depender {
    text-align: center;
    li {
      justify-content: center;
    }
    &::before {
      @include gradient-border(90deg, 100%, 1px);
      top: -40px;
      left: 0;
    }
  }

  .contato .conteudo-contato {
    grid-template-columns: auto;
    grid-gap: 40px;
  }
}
