@media all and (max-width: 1100px) {
  header {
    width: calc(100vw - 40px);
    height: initial;
    justify-content: center;
    ul {
      display: flex;
    }
    a {
      padding: 13px 15px;
    }
  }
}
