.container-sobre {
  display: flex;
}

.titulo_e_btns {
  width: 170px;
  position: relative;
  display: grid;
  h3 {
    @include detalhes;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    top: 15px;
  }

  .btns-sobre {
    display: flex;
    flex-direction: column;

    button {
      @include borderRadius;
      background: $azul-transparente;
      border: 1px solid $azul-borda;
      padding: 10px 15px;
      @include transition;

      &.selecionado {
        outline: 1px solid $rosa-claro;
        outline-offset: 2px;
        color: $azul-texto-claro;
      }
      &:hover {
        color: $azul-texto-claro;
      }
      & + button {
        margin-top: 15px;
      }
    }
  }
}

.container-sobre-mim {
  display: flex;
  margin-left: 30px;
  padding: 40px 30px;
  @include borderRadius;
  position: relative;
  border: 1px solid $azul-bg-1;
  box-shadow: 0px 0px 60px 0 rgba(0, 0, 0, 0.15);
  @include bg-gradient(90deg);
  picture {
    width: 200px;
    height: 220px;
    display: block;
    @include borderRadius;
    overflow: hidden;
    img {
      object-fit: cover;
      -o-object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  p {
    max-width: 210px;
    margin-left: 30px;
  }
  &::before {
    @include gradient-border(90deg, 100%, 1px);
    top: -1px;
    left: 0;
  }
  &::after {
    @include gradient-border(90deg, 100%, 1px);
    bottom: -1px;
    left: 0;
  }
}
