.container-sobre {
  display: flex;
}

.titulo_e_btns {
  width: 170px;
  position: relative;
  display: grid;
  flex:1;
  h3 {
    @include detalhes;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    top: 15px;
  }

  .btns-sobre {
    display: flex;
    flex-direction: column;
    position: relative;
    button {
      @include borderRadius;
      background: $azul-transparente;
      border: 1px solid $azul-borda;
      padding: 10px 15px;
      transition: 0.1s;
      &.selecionado {
        color: $azul-texto-claro;
        box-shadow: 0 0 0 2px $azul-bg-1, 0 0 0 3px $rosa-claro;
      }
      &:hover {
        color: $azul-texto-claro;
      }
      & + button {
        margin-top: 15px;
      }
    }
  }
}

.container-infos{
  @include borderRadius;
  box-shadow: 0px 0px 60px 0 rgba(0, 0, 0, 0.15);
  @include bg-gradient(90deg);
  margin-left: 30px;
  border: 1px solid $azul-bg-1;
  height: 17rem;
  flex:3;
  display: flex;
  align-items: center;
  position: relative;
  &::before {
    @include gradient-border(90deg, 100%, 1px);
    top: -1px;
    left: 0;
  }
  &::after {
    @include gradient-border(90deg, 100%, 1px);
    bottom: -1px;
    left: 0;
  }
}

.container-sobre-mim {
  padding: 1rem;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  picture {
    width: 10rem;
    height: 220px;
    display: block;
    @include borderRadius;
    overflow: hidden;
    img {
      object-fit: cover;
      -o-object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  p {
    max-width: 210px;
    margin-left: 30px;
  }
}

.container-certificados {
  display: none;
}
.container-linguagens {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: $rosa-claro transparent;
  > div > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 2rem;
    margin: 0 1rem 4rem 1rem;
    li {
      text-align: center;
    }
  }
  > div > p  {
    margin: 2rem;
    color: $azul-texto-claro;
  }
 img {
   width: 1.5rem
 }
 .idiomas .nivel {
  font-size: 0.725rem;
 }
}

.container-linguagens::-webkit-scrollbar-track {
  background:transparent;
}

.container-infos > div.ativo {
  display: flex;
}