$azul-bg-1: #2f1f7c;
$azul-bg-2: #12023f;
$azul-texto-claro: #ab99ff;
$azul-texto-escuro: #7b6bc5;
$azul-btn-claro: #6a53d4;
$azul-btn-escuro: #3e29a4;
$rosa-claro: #ff93d4;
$rosa-escuro: #e566ae;
$transition: all 0.2s ease-out;

@mixin btn($cor) {
  @if $cor == rosa {
    background: linear-gradient(180deg, $rosa-claro 0%, $rosa-escuro 100%);
    color: #9d095d;
    @include shadow(
      0px 0px 20px rgba(252, 171, 220, 0.15),
      inset -1px -1px 2px #9d2469,
      inset 1px 1px 2px #ffe1eb
    );
  } @else if $cor == azul {
    background: linear-gradient(
      180deg,
      $azul-btn-claro 0%,
      $azul-btn-escuro 100%
    );
    color: $azul-bg-2;
    @include shadow(
      1px 1px 6px rgba(18, 4, 58, 0.5),
      inset -1px -1px 2px #2d198a,
      inset 1px 1px 2px #856bff
    );
  }
}

@mixin shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}
