$azul-bg-1: #251f7c;
$azul-bg-2: #070036;
$azul-texto-claro: #c8bbff;
$azul-texto-escuro: #8575ce;
$azul-transparente: #7b6bc51a;
$azul-borda: #4c3b9b;
$rosa-claro: #ff93d4;
$rosa-escuro: #e566ae;
$transition: all 0.2s ease-out;
$radius: 7px;
$gradient-bg: linear-gradient(
  90deg,
  $azul-bg-1 0%,
  $azul-texto-escuro 50%,
  $azul-bg-1 90%
);

@mixin fit-content {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

@mixin shadow($shadow...) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin gradient-border($deg, $width, $height) {
  content: "";
  display: block;
  position: absolute;
  height: $height;
  width: $width;
  background: linear-gradient(
    $deg,
    rgba(255, 255, 255, 0) 10%,
    $azul-texto-escuro 40%,
    rgba(255, 255, 255, 0) 90%
  );
}

@mixin bg-gradient($deg) {
  background: linear-gradient(
    $deg,
    rgba(0, 0, 0, 0) -10%,
    $azul-transparente 50%,
    rgba(0, 0, 0, 0) 110%
  );
}

@mixin detalhes {
  font-size: 0.875rem;
  color: $azul-texto-escuro;
}
